body {
  padding-bottom: 100px;
  background-image: url(http://wmh.github.io/circular-slides-generator/static/img/noise.png);
}
h1, h2, h3 {
  padding-top: 20px;
  font-family: 'Amaranth', sans-serif;
}
.scroll-text {
  border: 3px solid black;
  width: 240px;
  height: 430px;
  overflow: hidden;
}
.scroll-text ul {
  width: 240px;
  height: 800px;
  overflow: hidden;
  margin: 0;
}
.scroll-text ul li {
  height: 135px;
  padding: 5px;
}
.scroll-img {
  border: 1px solid red;
  width: 680px;
  height: 142px;
  overflow: hidden;
  font-size: 0;
}
.scroll-img ul {
  width: 700px;
  height: 600px;
  margin: 0;
}
.scroll-img ul li {
  display: inline-block;
  margin: 10px 0 10px 10px;
}
ul li img {
    vertical-align: middle;
}
div ul li p
{
    display: inline-block;
    vertical-align: middle;
}
